/*reset do css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('img/img.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'PT Mono', monospace;
    font-size: 10px;
}


/*Se o tamanho da tela for maior que 400px, altera o tamanho da fonte*/

@media (min-width: 400px) {
    body {
        font-size: 15px;
    }
}


/*É chamado de breakpoint*/

@media (min-width: 600px) {
    body {
        font-size: 20px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: black;
    width: 100vw;
    position: fixed;
    top: 0;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
    background: black;
    color: beige;
}

a {
    color: beige;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background-color: beige;
    color: black;
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}

.site-title,
.site-subtitle {
    color: beige;
    text-align: center;
    text-shadow: 2px 2px 2px #111111;
}

.box {
    background-color: rgba(0, 0, 0, 0.5);
    /*define largura total da página*/
    width: 100vw;
    padding: 50px;
}

.site-title {
    font-size: 4em;
    font-family: 'Baloo Chettan 2', cursive;
    line-height: 1em;
}

.site-subtitle {
    font-family: 'Baloo Chettan 2', cursive;
    font-style: italic;
}

.info {
    color: whitesmoke;
    text-align: center;
    line-height: 1.5em;
}

.portifolio {
    background-image: none;
    background-color: black;
    padding: 1em;
    height: 100vh 100vw;
}

.portifolio h2 {
    font-family: 'Baloo Chettan 2', cursive;
    font-style: oblique;
    font-size: 3em;
    color: beige;
    margin-bottom: 1em;
    text-align: start;
}

.portifolio .grid {
    display: grid;
    gap: 2em;
    color: whitesmoke;
    font-size: 1.5em;
}

@media (min-width: 560px) {
    .portifolio .grid {
        grid-template-columns: 200px 200px;
        justify-content: center;
    }
}

@media (min-width: 880px) {
    .portifolio .grid {
        font-size: 1em;
        /*Cria 3 vezes o valor da coluna*/
        grid-template-columns: repeat(3, 250px);
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    .portifolio .grid {
        font-size: 1em;
        /*Cria 3 vezes o valor da coluna*/
        grid-template-columns: repeat(4, 250px);
        justify-content: center;
    }
    .img-portfolio {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        object-fit: cover;
        object-position: right bottom;
        -webkit-transition: -webkit-transform .5s ease;
        transition: transform .5s ease;
    }
}

.portifolio figure {
    text-align: center;
}

.grid a {
    background-color: black;
    color: beige;
    border-radius: 50px;
}

.img-portfolio {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: right bottom;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.img-portfolio:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}